* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cell_Container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: 20px auto;
}

.cell {
    width: 150px;
    height: 150px;
    border: 2px solid;
    font-size: 96px;
    box-shadow: 0 0 0 2px;
    line-height: 150px;
}

#restart_btn{
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    background-color: inherit;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s linear;
    cursor: pointer;
}

#restart_btn:hover{
    transform: scale(1.01);
    font-weight: 500;
}
